*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: #2196f3;
}
.container .mac{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 606px;
    height: 489px;
}
.container .mac .imgBX{
    position: absolute;
    top: 24px;
    left: 25px;
    width: 555px;
    height: 313px;
    background: url(img/desktopWebsite.jpg);
    background-position: top;
    background-size: 100%;
    transition: 5s linear;
}
.container .mac:hover .imgBX{
    background-position: bottom;
}
.container .macbook{
    position: absolute;
    top: 40%;
    right: 10%;
    width: 609px;
    height: 362px;
    z-index: 1;
}
.container .macbook .imgBX{
    position: absolute;
    top: 20px;
    left: 72px;
    width: 465px;
    height: 291px;
    background: url(img/desktopWebsite.jpg);
    background-position: top;
    background-size: 100%;
    transition: 5s linear;
}
.container .macbook:hover .imgBX{
    background-position: bottom;
}
.container .iphone{
    position: absolute;
    top: 40%;
    left: 12%;
    width: 245px;
    height: 383px;
    z-index: 2;
}
.container .iphone .imgBX{
    position: absolute;
    top: 45px;
    left: 42px;
    width: 161px;
    height: 285px;
    background: url(img/mobileWebsite.jpg);
    background-position: top;
    background-size: 100%;
    transition: 5s linear;
}
.container .iphone:hover .imgBX{
    background-position: bottom;
}